h1 {
    color:darkslateblue;
    border-bottom: 2px darkslateblue solid;
}

h2 {
    color:darkslateblue;
    border-bottom: 1px rgb(148, 148, 148) solid;
    font-size: calc(1.325rem + .9vw);
}

h3 {
    color:darkslateblue;
    font-size: calc(1.2rem + .6vw);
}

blockquote {
    border-left: 2px rgb(150, 150, 160) solid;
    padding-left: 1rem;
    margin-right: 1rem;
    margin-left: 0;
    background-color: rgb(213, 213, 248);
    color:rgb(43, 43, 77);
}

ul {
    list-style-type: disc;
}
li {
    margin-bottom: .5rem;
}

code {
    font-family: monospace;
    background-color: rgb(213, 213, 248);
    color:rgb(43, 43, 77);
    padding: .1rem .2rem;
    border-radius: .2rem;
}